.MyAccount {
    flex: 13;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    height: 65vh;
    align-items: center;
    overflow: scroll;
    font-size: 1.5rem;
}

.MyAccount > div > h4 {
    margin-bottom: 0;
}

.MyAccount > div > p {
    margin-top: 10px;
}