.AuthPage {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: rgb(52, 58, 64, .8);
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
}

.AuthPage > div {
    width: 100%;
}