.main{
    flex: 13;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.5em 0.2em;
    padding: 1% 1% 2% 0;
    border-top: solid 3px black;
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main::-webkit-scrollbar {
    display: none;
}
.sub {
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 320px;
    border-radius: 10px;
}
.sub > a {
    flex: 12;
    background-size: cover;
    background-repeat: round;
    border-radius: 9px;
}

.sub:hover {
    width: 101%;
    height: 370px;
    border-radius: 10px;
}
.sub:hover > a {
    border-radius: 9px 9px 0 0;
}

.sub:hover .banner{
    display: flex;
}

.banner{
    display: none;
    flex: 1;
    min-width: 0;
    font-size: medium;
    align-items: center;
    border-radius: 0 0 9px 9px;
    font-family: serif;
    color: white;
    background: rgb(52 58 64);
    color: white;
}

.banner > h2 {
    flex: 1;
    margin: 0;
    font-size: larger;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner > div {
    flex-direction: column;
    text-align: center;
}

.banner > div > p {
    font-size: 120%;
    line-height: 105%;
    margin: 1px;
}