.UserLogOut > button{
    background: none;
    color: white;
    border: none;
    font-size: .8rem;
    cursor: pointer;
    font-family: serif;
    text-transform: capitalize;
}

.UserLogOut > button:hover {
    color: rgb(203 211 218);
    text-decoration: underline;
}