.Developer {
    padding: 10px 0;
    width: 550px;
}

.Developer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Developer > div > h4 {
    margin: 0;
    text-decoration: underline;
    font-size: xx-large;
}

.Reason {
    overflow: auto;
    width: 530px;
    text-align: center;
    font-style: italic;
    font-size: x-large;
}