.Data{
    flex: 13;
    text-align: center;
    color: white;
    height: calc(100vh - 269px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Data::-webkit-scrollbar {
    display: none;
}