.positioning{
    /* padding: 5% 15% 7%; */
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchBar{
    position: absolute;
    z-index: 1;
}

.SearchBar > form > input:nth-of-type(1) {
    width: 100%;
    border-radius: 15px;
    height: 40px;
    font-size: 1.3rem;
    padding: 5px 10px;
    color: rgb(203 211 218);
    background: linear-gradient(45deg, black, black, rgb(0 123 255), black, black);;
    border-width: 2px;
    border-style: inset;
    border-color: white;
}

.SearchBar > form > input:nth-of-type(1):hover {
    outline: none;
    border: none;
    background: rgb(52 58 64);
}

.SearchBar > form > input:nth-of-type(1):focus-visible {
    outline: none;
    border: none;
    background: rgb(52 58 64);
}

.SearchBar > form > input:nth-of-type(2) {
    display: none;
}

.SearchBar > div {
    position: absolute;
    width: 100%;
    max-height: 200px;
    height: auto;
    border-radius: 0 0 15px 15px;
    overflow: scroll;
    /* -ms-overflow-style: none; */
    scrollbar-width: thin;
    scrollbar-color: #000;
    scroll-behavior: smooth;
}

/* .SearchBar > div::-webkit-scrollbar {
    display: none;
} */

.SearchBar > div > div {
    display: block;
    padding: 5px 10px;
    font-size: 1.3rem;
    background-color: rgb(52, 58, 64, 0.7);

}

.SearchBar > div > div:hover {
    background-color: rgb(61, 69, 77, 0.8);
}

.SearchBar > div > div > a {
    color: rgb(203 211 218);
    text-decoration: none;
    display: flex;
}

.SearchBar:focus-visible > div > div {
    display: none;
}

@media (min-width: 768px){
    .SearchBar{
        width: 500px;
    }
}

@media (min-width: 992px){
    .SearchBar{
        width: 650px;
    }
}

@media (min-width: 1200px){ 
    .SearchBar{
        width: 800px;
    }
}