.NavBar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(52 58 64);
    color: white;
    border-radius: 0 0 10px 10px;
}

.NavBar > div:nth-of-type(1) {
    flex: 6;
}

.NavBar > div:nth-of-type(1) > a {

    color: rgb(0 123 255);
    text-decoration: none;
}

.NavBar > div:nth-of-type(1) > a:hover {
    color: rgb(0 86 179);
}

.NavBar > div:nth-of-type(1) > a > h1 {
    font-size: 3rem;
    font-family: monospace;
    margin: 0;
    width: fit-content;

}

.NavBar > div:nth-of-type(2) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar > div:nth-of-type(2) > a {
    text-decoration: none;
    color: white;
}

.NavBar > div:nth-of-type(2) > a:hover {
    color: rgb(203 211 218);
    text-decoration: underline;
}

.dropdown  {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 5vh;
    padding: 0;
    position: relative;
    z-index: 2;
}

.dropdown > li:nth-of-type(1){
    list-style-type: disclosure-closed;
}

.dropdown > li {
    list-style-type: none;
    background-color: rgb(52 58 64);
    width: 100%;
    text-align: center;
    padding: 2% 0;
    font-size: 1rem;
}

.dropdown > li > button {
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: serif;
    text-transform: capitalize;
}

.dropdown > li > button:hover {
    color: rgb(203 211 218);
    text-decoration: underline;
}

.dropdown > li > a {
    text-decoration: none;
    color: white;
}

.dropdown > li > a:hover {
    color: rgb(203 211 218);
    text-decoration: underline;
}

.noUser{
    width: 40%;
}