.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: white;
        background-color: rgb(52 58 64);
        border-radius: 10px 10px 0 0;
}
.footer > p {
    margin: 0;
}

.unordered {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 25%;
    margin: 0;
    list-style-type: none;
}

.unordered > li {
    display: flex;
    align-items: center;
}

.unordered > li > a {
    transition: .2s;
    color: black;
    display: flex;
}
.unordered > li:hover{
    cursor: default;
    background: none;
}

.unordered > li:nth-of-type(1):hover > a {
    transition: .2s;
    color: rgba(240, 248, 255);
}

.unordered > li:nth-of-type(3):hover > a {
    transition: .2s;
    color: cornflowerblue;
}
