
.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: white;
        background-color: rgb(52 58 64);
        border-radius: 10px 10px 0 0;
}
.footer > p {
    margin: 0;
}

.ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 35%;
    margin: 0;
    list-style-type: none;
}

.ul > li:nth-last-of-type(2) > a {
    color: white;
}

.ul > li:nth-last-of-type(1) > a {
    color: cornflowerblue;
}
