.footer {
    color: white;
}

.footer > nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
}
.footer> nav > p {
    margin: 0;
}

.ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 35%;
    margin: 0;
    list-style-type: none;
}

.ul > li > a:nth-last-of-type(1) {
    color: white;
}

.ul > li > a:nth-last-of-type(2) {
    color: cornflowerblue;
}
