body {
    background: linear-gradient(45deg, black, black, rgb(0 123 255), black, black);
    /* background: linear-gradient(45deg, black, black, rgb(0 123 255), rgb(0 123 255), black, black);
    background: linear-gradient(45deg, black, rgb(0 123 255), rgb(0 123 255), black); */
    min-height: 100vh;
    max-height: max-content;
}

.btn {
    padding: 0vw;
    font-size: 12px;
    text-transform: uppercase;
}