body {
    background: linear-gradient(45deg, black, black, rgb(0 123 255), black, black);
    /* background: linear-gradient(45deg, black, black, rgb(0 123 255), rgb(0 123 255), black, black);
    background: linear-gradient(45deg, black, rgb(0 123 255), rgb(0 123 255), black); */
    min-height: 100vh;
    max-height: max-content;
    margin: 0 auto;
}



/* /////////////// Button ////////////////////// */

.btn {
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    border-width: 2px;
    border-radius: 10px;
    padding: 3px;
    height: fit-content;
}

.main-btn {
    background-color: rgb(0 123 255);
}

.main-btn:hover {
    background-color: rgb(0 86 179);
}

.sec-btn {
    background-color: rgb(23, 162, 184);
}

.sec-btn:hover {
    background-color: rgb(25 149 168);
}

.yes-btn {
    background-color: rgb(40 167 69);
}

.yes-btn:hover {
    background-color: rgb(43 161 70);
}

.no-btn {
    background-color: rgb(220 53 69);
}

.no-btn:hover {
    background-color: rgb(200 35 51);
}



/* /////////////////// Link Colors ///////////////////////// */

.main {
    color: rgb(0 123 255);
}

.main:hover{
    color: rgb(0 86 179);
}

.sec {
    color: rgb(23, 162, 184);
}

.sec:hover {
    color: rgb(25 149 168);
}

.yes {
    color: rgb(40 167 69);
}

.yes:hover {
    color: rgb(43 161 70);
}

.no {
    color: rgb(220 53 69);
}

.no:hover {
    color: rgb(200 35 51);
}