button {
    color: white;
}

.show{
    flex: 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: rgba(240, 248, 255);
    font-family: serif;
    border-top: solid 2px black;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.show::-webkit-scrollbar {
    display: none;
}

.show > h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

.show > img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
}